
.tmcf_field_wrapper .tmcf_field {
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
}
.tmcf_field_wrapper .tmcf_field label {
  font-weight: 500;
  padding-bottom: 20px;
}
.tmcf_field_wrapper .tmcf_field input.widefat {
  padding: 3px 14px;
}


.gallery_wrapper .image_container {
	background: url('https://i.hizliresim.com/dOJ6qL.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
	cursor: pointer;
}
.gallery_wrapper .image_container img {
	height: 100%;
	width: 100%;
	border-radius: 3px;
	object-fit: cover;
}
.clear {
	clear:both;
}
.gallery_wrapper {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.gallery_wrapper .img_box_container {
	display: flex;
	flex-wrap: wrap;
}	
.gallery_wrapper .gallery_single_row {
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: 8px;
	margin-bottom: 8px;
}
.gallery_wrapper .button.remove {
	background: none;
	color: #f1f1f1;
	position: absolute;
	border: none;
	top: 4px;
	right: 7px;
	font-size: 1.2em;
	padding: 0px;
	box-shadow: none;
	z-index: 999;
}
.gallery_wrapper .button.remove:hover {
	background: none;
	color: #fff;
}
.gallery_wrapper .button.add {
	background: #c3c2c2;
	color: #ffffff;
	border: none;
	box-shadow: none;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 4em;
}
.gallery_wrapper .button.add:hover, .button.add:focus {
	background: #e2e2e2;
	box-shadow: none;
	color: #0f88c1;
	border: none;
}
.gallery_wrapper .button.remove path {
	fill: #ff4343;
}	
.master_box {
	display: none;
}