.location-rules label {
  text-transform: capitalize;
}
.location-rules label input {
  margin-right: 10px;
  transform: translateY(1px);
}

.tmcf-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.tmcf-row > .tmcf-col {
  flex: 1 0 0%;
}
.tmcf-row > .tmcf-col.key-field {
  flex: 0 0 auto;
}
#TMCF_settings_fields_wrap .tmcf-row > .tmcf-col.type-field {
  text-align: center;
}
.tmcf-row > .tmcf-col.trash {
  flex: 0 0 auto;
  width: 8%;
  display: flex;
  justify-content: space-around;
}
#TMCF_settings_fields_wrap .fields-item-contents {
  background: whitesmoke;
  padding: 30px;
}
#TMCF_settings_fields_wrap .fields-wrap {
  border: 1px solid #ddd;
}
#TMCF_settings_fields_wrap .field-content {
  display: none;
}
#TMCF_settings_fields_wrap .fields-item-wrap {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 0 5px 2px #dddddd69;
  border-radius: 5px;
}
.post-type-tmcf_settings #submitpost #minor-publishing {
  display: none;
}
#TMCF_settings_fields_wrap .fields-item-wrap:first-child .dashicons-trash {
  opacity: 0;
  visibility: hidden;
}
#TMCF_settings_fields_wrap .fields-item-wrap .tmcf-col {
  padding: 15px 20px;
}
#TMCF_settings_fields_wrap .fields-wrap .field-heading .tmcf-row {
  cursor: pointer;
}
#TMCF_settings_fields_wrap .fields-item-wrap .field-heading .name {
  color: #007cba;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
#TMCF_settings_fields_wrap .field-heading .copy-key::before {
  content: '';
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M9 8V5.2c0-1.2.02-1.49.1-1.66 .09-.19.24-.35.43-.44 .16-.09.45-.11 1.65-.11h7.6c1.19 0 1.48.02 1.65.1 .18.09.34.24.43.43 .08.16.1.45.1 1.65v7.6c0 1.19-.03 1.48-.11 1.65 -.1.18-.25.34-.44.43 -.17.08-.46.1-1.66.1h-2.8c-.56 0-1 .44-1 1 0 .55.44 1 1 1h2.8c1.6 0 1.98-.04 2.56-.33 .56-.29 1.02-.75 1.31-1.32 .29-.59.32-.97.32-2.57v-7.6c0-1.61-.04-1.99-.33-2.57 -.29-.57-.75-1.03-1.32-1.32 -.59-.3-.97-.33-2.57-.33h-7.6c-1.61 0-1.99.03-2.57.32 -.57.28-1.03.74-1.32 1.31 -.3.58-.33.96-.33 2.56v2.8c0 .55.44 1 1 1 .55 0 1-.45 1-1ZM5.2 23h7.6c1.6 0 1.98-.04 2.56-.33 .56-.29 1.02-.75 1.31-1.32 .29-.59.32-.97.32-2.57v-7.6c0-1.61-.04-1.99-.33-2.57 -.29-.57-.75-1.03-1.32-1.32 -.59-.3-.97-.33-2.57-.33h-7.6c-1.61 0-1.99.03-2.57.32 -.57.28-1.03.74-1.32 1.31 -.3.58-.33.96-.33 2.56v7.6c0 1.6.03 1.98.32 2.56 .28.56.74 1.02 1.31 1.31 .58.29.96.32 2.56.32Zm0-2c-1.2 0-1.49-.03-1.66-.11 -.19-.1-.35-.25-.44-.44 -.09-.17-.11-.46-.11-1.66v-7.6c0-1.2.02-1.49.1-1.66 .09-.19.24-.35.43-.44 .16-.09.45-.11 1.65-.11h7.6c1.19 0 1.48.02 1.65.1 .18.09.34.24.43.43 .08.16.1.45.1 1.65v7.6c0 1.19-.03 1.48-.11 1.65 -.1.18-.25.34-.44.43 -.17.08-.46.1-1.66.1h-7.6Z'/%3E%3C/svg%3E");
  mask-size: contain;
  background-color: currentColor;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  font-size: 12px;
  position: absolute;
  height: 12px;
  width: 12px;
  right: 0;
  top: 18%;
  color: #96989a;
}
#TMCF_settings_fields_wrap .field-heading .copy-key.copied::before {
  content: "\f147";
  mask-image: none;
  background-color: transparent;
  font-family: dashicons;
  font-size: 23px;
  position: absolute;
  top: 0;
  height: auto;
  width: auto;
  line-height: 1em;
  color: #198e1b;
}
#TMCF_settings_fields_wrap .field-heading .copy-key {
  padding-right: 20px;
  position: relative;
  color: #96989a;
}
#TMCF_settings_fields_wrap .field-heading .copy-key input {
  border: 1px solid #e2e2e2;
  color: #96989a;
  cursor: pointer;
}

/*#TMCF_settings_fields_wrap .field-heading .name {
  border: 1px solid #ddd;
  width: 69%;
  padding: 9px 15px;
  line-height: 1em;
}*/
#TMCF_settings_fields_wrap .fields-wrap .fields-item-contents > div.active .dashicons-arrow-right-alt2::before {
  content: "\f347";
}

#TMCF_settings_fields_wrap .field-heading .key {
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 9px 15px;
  line-height: 1em;
}
#TMCF_settings_fields_wrap .field-heading select {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 4px 16px;
  width: 50%;
}
.field-component.field-option,
.field-component.field-placeholder {
  display: none;
}
.field-component.field-placeholder.active {
  display: flex;
}

.field-component.field-option[data-type="select"], 
.field-component.field-option[data-type="checkbox"], 
.field-component.field-option[data-type="radio"] {
  display: block;
}
#TMCF_settings_fields_wrap .btn-wrap {
  text-align: right;
  margin-top: 10px;
} 
#TMCF_settings_fields_wrap .error {
  display: none;
  color: red;
  margin: 3px 0;
}
#TMCF_settings_fields_wrap .key-wrap .dashicons {
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 12px 13px;
  cursor: pointer;
  color: #ce0101;
}
#TMCF_settings_fields_wrap .key-wrap {
  position: relative;
  display: inline-block;
  width: 75%;
}

#TMCF_settings_fields_wrap .key-wrap input {
  width: 100%;
}

#TMCF_settings_fields_wrap .field-component.field-option > div {
  flex: 0 0 100%;
  max-width: 100%;
}
#TMCF_settings_fields_wrap .field-component.field-option table {
  width: 40%;
}
#TMCF_settings_fields_wrap .field-component.field-option table tr td {
  padding-bottom: 7px;
}



/*******************************/

.field-component {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
}
.field-component > div {
  max-width: 49%;
  flex: 0 0 49%;
}
.field-component label {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: #23282D;
  font-weight: 700;
}
.field-component p {
  margin: 0;
}
.field-component .field-meta p {
  font-size: 13px;
  line-height: 17px;
  color: #7B7E81;
  padding: 0 0 4px;
}
.field-component .field-control input,
.field-component .field-control select {
  font-size: 13px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #f4f4f5;
  border: none;
  color: #7B7E81;
  padding: 6px 12px;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  width: 100%;
}
#TMCF_settings_fields_wrap .field-type select.active {
  border: 1px solid red;
}